<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Baseball Stats Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>⚾Baseball Stats Analyzer</h1>
    <p>Calculate batting average easily!</p>

    <form method="POST">
        <label>Player Name</label><br>
        <input type="text" name="player" value="{{ player }}"><br><br>

        <label>At Bats</label><br>
        <input type="number" name="at_bats" value="{{ at_bats }}"><br><br>

        <label>Hits</label><br>
        <input type="number" name="hits" value="{{ hits }}"><br><br>

        <button>Calculate</button>
    </form>
    {% if average != None %}
    <h2>Batting Average</h2>
    <p>{{ average }}</p>
    {% endif %}
</body>
</html>