<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Player Stats - Baseball Stats Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>⚾Baseball Stats Analyzer</h1>
    <p>Calculate batting average easily!</p>

    <form method="POST">
        <label>Player Name</label><br>
        <input type="text" name="player" value="{{ player }}"><br><br>

        <div class="input-grid">

            <div>
                <label>At Bats</label><br>
                <input type="number" name="at_bats" value="{{ at_bats }}">
            </div>

            <div>
                <label>Hits</label><br>
                <input type="number" name="hits" value="{{ hits }}">
            </div>

            <div>
                <label>Singles</label><br>
                <input type="number" name="singles" value="{{ singles }}">
            </div>

            <div>
                <label>Doubles</label><br>
                <input type="number" name="doubles" value="{{ doubles }}">
            </div>

            <div>
                <label>Triples</label><br>
                <input type="number" name="triples" value="{{ triples }}">
            </div>

            <div>
                <label>Walks</label><br>
                <input type="number" name="walks" value="{{ walks }}">
            </div>

            <div>
                <label>Home Runs</label><br>
                <input type="number" name="home_runs" value="{{ home_runs }}">
            </div>

        </div>

        <br>
        <button>Calculate</button>
    </form>
    {% if average != None %}
    <div class="result-card">
        <h2>⚾ SCOREBOARD</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <div class="scoreboard">

            <div class="stat-box">
                <h3>AVG</h3>
                <p>{{ average }}</p>
            </div>

            <div class="stat-box">
                <h3>OBP</h3>
                <p>{{ obp }}</p>
            </div>

            <div class="stat-box">
                <h3>SLG</h3>
                <p>{{ slg }}</p>
            </div>

        </div>

        <hr>

        <h2>⚾ Player History</h2>
        {% for p in players %}
        <div class="history-card">

            <h3>⚾ {{ p[1] }}</h3>

            <div class="player-stats">

                <div>
                    <span>AVG</span>
                    <strong>{{ p[2] }}</strong>
             </div>

                <div>
                    <span>OBP</span>
                    <strong>{{ p[3] }}</strong>
                </div>

                <div>
                    <span>SLG</span>
                    <strong>{{ p[4] }}</strong>
                </div>

            </div>

            <a href="/player/{{ p[0] }}">View Stats →</a>

        </div>

    {% endfor %}
    {% endif %}
</body>
</html>