<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Baseball Stats Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>⚾Baseball Stats Analyzer</h1>
    <p>Calculate batting average easily!</p>

    <form method="POST">
        <label>Player Name</label><br>
        <input type="text" name="player" value="{{ player }}"><br><br>

        <label>At Bats</label><br>
        <input type="number" name="at_bats" value="{{ at_bats }}"><br><br>

        <label>Hits</label><br>
        <input type="number" name="hits" value="{{ hits }}"><br><br>

        <label>Singles</label>
        <input type="number" name="singles" value="{{ singles }}"><br><br>

        <label>Doubles</label>
        <input type="number" name="doubles" value="{{ doubles }}"><br><br>

        <label>Triples</label>
        <input type="number" name="triples" value="{{ triples }}"><br><br>


        <label>Walks</label><br>
        <input type="number" name="walks" value="{{ walks }}"><br><br>

        <label>Home Runs</label><br>
        <input type="number" name="home_runs" value="{{ home_runs }}"><br><br>

        <button>Calculate</button>
    </form>
    {% if average != None %}
    <div class="result-card">
        <h2>⚾ SCOREBOARD</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <div class="scoreboard">

            <div class="stat-box">
                <h3>AVG</h3>
                <p>{{ average }}</p>
            </div>

            <div class="stat-box">
                <h3>OBP</h3>
                <p>{{ obp }}</p>
            </div>

            <div class="stat-box">
                <h3>SLG</h3>
                <p>{{ slg }}</p>
            </div>

        </div>

        <hr>

        <h2>⚾ Player History</h2>
        {% for p in players %}
        <div class="history-card">
            <h3>
                <a href="/player/{{ p[0] }}">{{ p[1] }}</a>
            </h3>
    </div>
    
    {% endfor %}
    {% endif %}
</body>
</html>